footer{
	background-color: #010135;
	padding-top: 34px;
	padding-bottom: 93px;
	
}
.d-n{
	display: block;
}
.footer-flex{
	display: flex;
}

.charter{
	margin-left: 175px;
	
}
.contact{
	margin-left: auto;
	text-align: right;
}
.charter li, .contact li{
	font-size: 18px;
	line-height: 27px;
	font-family: Open Sans;
}
footer h5{
	margin-bottom: 28px;
}

ul li a:hover {
	text-decoration: none;
}

.logo a:hover {
	text-decoration: none;
}