header{
	background-color: #010135;
}
.nav-list{
	line-height: 27px;
	padding-top: 11px;
	font-family: Open Sans;
}
nav ul{

	display: flex;
}
nav li{
	font-size: 18px;
}
nav a{
	margin-right: 52px;
}

.navigator{
	padding-top: 12px;
	padding-bottom: 12px;
	display: flex;
	justify-content: space-between;
}
.sing-buttons{
	display: flex;
	font-size: 20px;
	line-height: 24px;
	order: 1;
}

.sing-buttons{
	font-family: Rosario;
}

.button-sing-in{
	padding: 8px 21px 8px 22px;
	margin-right: 30px;
}
.button-sing-in:hover,.button-sing-up{
	background: #FFFFFF;
	border: 1px solid #010135;	
	color: #010135;
	text-decoration: none;
}
.button-sing-up{
	padding: 8px 18px 8px 19px;
}
.button-sing-up:hover, .button-sing-in{
	background: #010135;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	text-decoration: none;	
}
.button-sing-in,.button-sing-up
{
	border-radius: 30px;
}