
p{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
}
h2{
	color: #010135;
}
/*-------------------------------------------------SLIDER-------------------------------------------------------------------------*/
.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-left: 30px;
  border: 2px solid #FFFFFF;
  background-color: rgba(1,1,1,0);
}

.carousel-indicators li:first-child{
	margin-left: 0px;
}
.carousel-indicators li:last-child{
	margin-right: 0px;
}
.carousel-indicators .active{
	width: 16px;
	height: 16px;
	background-color: #FFFFFF;
	margin-top: -3px;
	margin-bottom: 30px;
}


.carousel-inner p{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 70px;
	line-height: 85px;
	letter-spacing: -0.05em;
  	text-transform: uppercase;
  	top: auto;
  	display: block;
  	text-align: right;
}
.carousel-caption{
	right: 0px;
	left: 0px;
}

.carousel-inner .carousel-item:nth-of-type(1) p{
	width: 815px;
	float: right;
	margin-bottom: 380px;
	
}
.carousel-inner .carousel-item:nth-of-type(2) p{
	margin-bottom: 100px;
 }

.carousel-inner .carousel-item:nth-of-type(3) p{
	margin-bottom: 470px;
	text-align: left;
}
.carousel-inner .carousel-item:nth-of-type(4) p{
	color: #010135;
	margin-bottom: 100px;
}

.carousel-control-prev{
	left: -88px;
	 
}
.carousel-control-next{
	right: -88px;
	}
/*----------------------------------------------END SLIDER-------------------------------------------------------------------------*/
/*-------------------------------------------------ARTICLE-------------------------------------------------------------------------*/

.article-section{
	display: flex;
	flex-flow: row wrap;
	margin-top: 80px;
	flex-direction: row;
	 justify-content: space-between;
}

article{
	max-width: 370px;

}
article p{
	margin-top: 20px;
	margin-bottom: 200px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	color: #A8A8A8;
	text-align: center;
}

article h5{
	color: #525252;
	text-align: center;
}

/*-----------------------------------------------END ARTICLE-------------------------------------------------------------------------*/
/*----------------------------------------------PHOTO SECTION------------------------------------------------------------------------*/
.photo-section h2{
	color: #FFFFFF;

}
.photo-section{
	background-color: #0098B6;
}

.map-photo{
	position: relative;
	background-color: #0098B6;
}
#img-map{
	 width: 100%; object-fit: contain;
}
#help-map{
	position: absolute;
	z-index: 2;
}
.map-photo p{
	color: #FFFFFF;

}
.use-map-arrow{
	border: 1px solid #FFFFFF;
	width: 75px;
	height:65px;
	padding-top: 17px;
	padding-left: 13px;
	float: left;
}

.use-map-text{
	width: 340px;
 	text-align: center;
 	padding-top: 5px;
 	padding-bottom: 6px;
 	float: left;
 	margin-right: 20px;
}

.use-map-Princess{
	border:1px solid #FFFFFF;
	width: 494px;
	height: 259px;
	position: absolute;
	top: 307px;
	left: 8px;

	z-index: -1;
	
}
.use-map-Princess p{
	 padding-top: 228px;
	 padding-left: 147px;
}

.use-map-Marquis{
	border:1px solid #FFFFFF;
	width: 337px;
	height: 171px;
	position: absolute;
	top: 395px;
	left:826px;

	z-index: -1;
}
.use-map-Marquis p{
	padding-top: 142px;
	padding-left: 110px;
}
.use-map-Californian{
	border:1px solid #FFFFFF;
	width: 268px;
	height: 130px;
	position: absolute;
	top: 7px;
	left:235px;

	z-index: -1;
}
.use-map-Californian p{
	padding-top: 0px;
	padding-left: 65px;
}
.use-map-Lazzara{
	border:1px solid #FFFFFF;
	width: 287px;
	height: 171px;
	position: absolute;
	top: 395px;
	left:520px;

	z-index: -1;
}
.use-map-Lazzara p{
	padding-left: 85px;
	padding-top: 140px;
}
.use-map-SeaRay{
	border:1px solid #FFFFFF;
	width: 268px;
	height: 140px;
	position: absolute;
	top: 152px;
	left:236px;

	z-index: -1;
}

.use-map-SeaRay p{
	padding-top: 110px;
	padding-left: 75px;
}
.use-map-Cruisers{
	border:1px solid #FFFFFF;
	width: 212px;
	height: 285px;
	position: absolute;
	top: 7px;
	left:8px;

	z-index: -1;
}
.use-map-Cruisers p{
	padding-left: 45px;
}
.use-map-Marinette{
	border:1px solid #FFFFFF;
	width: 191px;
	height: 374px;
	position: absolute;
	top: 7px;
	left:972px;

	z-index: -1;
}
.use-map-Marinette p{
	padding-left: 28px;
}
.use-map-Cruisers-new{
	border:1px solid #FFFFFF;
	width: 439px;
	height: 285px;
	position: absolute;
	top: 7px;
	left:519px;
	z-index: -1;
}
.use-map-Cruisers-new p{
	padding-left: 150px;
}
.use-map-link{
	width: 558px;
	height: 109px;
	position: absolute;
	top: 312px;
	left:520px;
	z-index: 4;
}



/*----------------------------------------------END PHOTO SECTION--------------------------------------------------------------------*/
/*-------------------------------------------------VIDEO SECTION---------------------------------------------------------------------*/
.video-section{
	position: relative;
}
.video-section p{
	margin-top: 80px;
	margin-bottom: 245px;
	text-align: center;
	color: #A8A8A8;

}

.video-section h5{
	text-align: center;
	color: #525252;
}
.video-section hr{
	border-top: 4px dotted;
	color: #0098B6;
	width: 90%;;
}

video{
	margin-bottom: 250px;
}


.video-section .bg-text:nth-of-type(1){
	top: 110px;
	left: -665px;

}
.video-section .bg-text:nth-of-type(2){
	top: 820px;
	left: -220px;
}
/*-------------------------------------------------END VIDEO SECTION-----------------------------------------------------------------*/
/*-------------------------------------------------MAP SECTION-----------------------------------------------------------------------*/
.map-section{
	background-color: rgba(3, 109, 125, 0.4);
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;

}
.map-section h2,.map-section p{
	color: #FFFFFF;
	width: 220px;
	text-align: left;
}
.map-section h2{
	margin-bottom: 50px;
}

.map-section-text{
	float: left;
	margin-left: 30px;
}
#map{
	float: left;
	width: 670px;
	height: 643px;
}

.map-section .bg-text:nth-of-type(1){
	top: -50px;
	left: 120px;

}
.map-section .bg-text:nth-of-type(2){
	top: 370px;
	left: -315px;
}

/*-------------------------------------------------END MAP SECTION------------------------------------------------------------------*/
/*-------------------------------------------------WATCH SECTION---------------------------------------------------------------------*/
.orange-rectangle{
	height: 100px;
	background-color:  #F8E0C2;
	z-index: -1;
	position: relative;
	top: 200px;
}

.flex-section-watch{
	display: flex;
	justify-content: space-between;
}

.watch-section{
	padding-bottom: 200px;
}
.watch-section h3{
	margin-top: 158px;
	color: #525252;
}
.watch-button{
	margin-left: auto;
}
.watch-section p{
	float: left;
	margin-top: 20px;
	color: #A8A8A8;
}
.watch-section a{
	float: right;
	padding:10px 39px 11px 39px;
	background: #036D7D;
	border-radius: 50px;
	font-weight: bold;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
}

/*-------------------------------------------------END WATCH SECTION-----------------------------------------------------------------*/