a:hover{
	color: #A8A8A8;
	text-decoration: none;
}
p{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
}
h2{
	color: #010135;
}
/*-------------------------------------------------SLIDER-------------------------------------------------------------------------*/
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-left: 30px;
  border: 2px solid #FFFFFF;
  background-color: rgba(1,1,1,0);
}

.carousel-indicators li:first-child{
	margin-left: 0px;
}
.carousel-indicators li:last-child{
	margin-right: 0px;
}
.carousel-indicators .active{
	width: 16px;
	height: 16px;
	background-color: #FFFFFF;
	margin-top: -3px;
	margin-bottom: 30px;
}
.carousel-item{
	position: relative;
}
.carousel-inner p{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 70px;
	line-height: 85px;
	letter-spacing: -0.05em;
  	text-align: left;
  	text-transform: uppercase;
  	margin-bottom: 420px;
  	top: auto;
}

.carousel-inner .carousel-item:nth-of-type(2) p{
	margin-bottom: 30px;
	text-align: right;
}

.carousel-inner .carousel-item:nth-of-type(3) p{
	margin-bottom: 520px;

}
.carousel-inner .carousel-item:nth-of-type(4) p{
	text-align: right;
	margin-bottom: 520px;
	color: #010135;
}
/*----------------------------------------------END SLIDER-------------------------------------------------------------------------*/
/*-------------------------------------------------ARTICLE-------------------------------------------------------------------------*/
article{
	width: 33%;
	float: left;
	margin-top: 80px;
}

article p{
	margin-top: 20px;
	margin-bottom: 200px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	color: #A8A8A8;
	text-align: center;
}

article h5{
	color: #525252;
	text-align: center;
}

/*-----------------------------------------------END ARTICLE-------------------------------------------------------------------------*/
/*----------------------------------------------PHOTO SECTION------------------------------------------------------------------------*/
.photo-section h2{
	color: #FFFFFF;

}
.photo-section{
	background-color: #0098B6;
}

.map-photo{
	height: 608px;
	background-color: #0098B6;
}
/*----------------------------------------------END PHOTO SECTION--------------------------------------------------------------------*/
/*-------------------------------------------------VIDEO SECTION---------------------------------------------------------------------*/
.video-section p{
	margin-top: 80px;
	margin-bottom: 245px;
	text-align: center;
	color: #A8A8A8;
}

.video-section h5{
	text-align: center;
	color: #525252;
}
.video-section hr{
	border-top: 4px dotted;
	color: #0098B6;
	width: 90%;;
}

video{
	margin-bottom: 250px;
}
/*-------------------------------------------------END VIDEO SECTION-----------------------------------------------------------------*/
/*-------------------------------------------------MAP SECTION-----------------------------------------------------------------------*/
.map-section{
	background-color: rgba(3, 109, 125, 0.4);
	padding-top: 100px;
	padding-bottom: 100px;

}
.map-section h2,.map-section p{
	color: #FFFFFF;
	width: 220px;
	text-align: left;
}
.map-section h2{
	margin-bottom: 50px;
}

.map-section-text{
	float: left;
	margin-left: 30px;
}
.map{
	float: left;
	width: 670px;
	height: 643px;
	background-color: #FFFFFF;
}

/*-------------------------------------------------END MAP SECTION------------------------------------------------------------------*/
/*-------------------------------------------------WATCH SECTION---------------------------------------------------------------------*/
.orange-rectangle{
	height: 100px;
	background-color:  #F8E0C2;
	z-index: -1;
	position: relative;
	top: 200px;
}


.watch-section{
	padding-bottom: 200px;
}
.watch-section h3{
	margin-top: 158px;
}

.watch-section p{
	float: left;
	margin-top: 20px;
	color: #A8A8A8;
}
.watch-section a{
	float: right;
	padding:10 39 11 39px;
	background: #036D7D;
	border-radius: 50px;
	font-weight: bold;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
}

/*-------------------------------------------------END WATCH SECTION-----------------------------------------------------------------*/