.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-left: 30px;
  border: 2px solid #FFFFFF;
  background-color: rgba(1,1,1,0);
}

.carousel-indicators li:first-child{
	margin-left: 0px;
}
.carousel-indicators li:last-child{
	margin-right: 0px;
}
.carousel-indicators .active{
	width: 16px;
	height: 16px;
	background-color: #FFFFFF;
	margin-top: -3px;
	margin-bottom: 30px;
}
.carousel-item{
	position: relative;
}
.carousel-inner p{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 70px;
	line-height: 85px;
	letter-spacing: -0.05em;
  	text-align: left;
  	text-transform: uppercase;
  	margin-bottom: 420px;
  	top: auto;
}

.carousel-inner .carousel-item:nth-of-type(2) p{
	margin-bottom: 30px;
	text-align: right;
}

.carousel-inner .carousel-item:nth-of-type(3) p{
	margin-bottom: 520px;

}
.carousel-inner .carousel-item:nth-of-type(4) p{
	text-align: right;
	margin-bottom: 520px;
	color: #010135;
}

article{
	width: 33%;
	float: left;
	margin-top: 80px;
}

article p{
	margin-top: 20px;
	margin-bottom: 200px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	color: #A8A8A8;
	text-align: center;
}

article h5{
	color: #525252;
	text-align: center;
}

h2{
	color: #010135;
	
}

.photo-section h2{
	color: #FFFFFF;

}
.photo-section{
	background-color: #0098B6;
}

.video-section p{
	margin-top: 80px;
	margin-bottom: 245px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	color: #A8A8A8;
}

.video-section h5{
	text-align: center;
	color: #525252;
}
.video-section hr{
	border-top: 4px dotted;
	color: #0098B6;
	width: 90%;;
}