*{
	box-sizing: border-box;
}
body{
	background-color: #FFFFFF;
}

.myrow:after{
	content: "";
	display: block;
	clear: both;
}

.mycontainer{
	width: 940px;
	margin:0 auto;
}
a{
	text-decoration: none;
	color: white;	
}
.logo{
	font-family: 'Almarai', sans-serif;
	font-size: 35px;
	line-height: 45px;
	float: left;
	font-weight: bold;
}
h5{
	color: white;
	font-size: 24px;
	line-height: 29px;
	font-weight: bold;
	font-family: Montserrat;
}


h2{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 50px;
	line-height: 61px;
	text-align: center;
	color: #010135;
	text-transform: uppercase;
}

h3{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 70px;
	line-height: 85px;
	letter-spacing: -0.05em;
	color: #525252;
	text-transform: uppercase;
}