h3{
	color: #010135;
	line-height: 65%;
}
h5{
	text-transform: uppercase;
}
.bg-text:first-child{
    top: 435px;
    left: 30px;
}
.bg-text:nth-of-type(2){
    top: 1130px;

}
.yacht-detail-slide nav{
	display: flex;
	justify-content: space-between;
}
.yacht-detail-slide nav a{
color: black;
}
.yacht-detail-slide nav{
    margin-top: 15px;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    background: none;
}
.carousel-control-next-icon img{
    position: relative;
    left: 32px;
}

.carousel-control-prev-icon img{
    position: relative;
    left: -62px;
}


.page {
    float:left;
    padding-top: 6px;
}

#page-2 {
   
}
#page-3 {
   
}
a {
    color:#FFF;
}
a.selected{
    color: #0098B6;
}

.page-hide{
	 visibility: hidden;
}

 
/*-----------------------------------------------page - 1  -----------------------------------------------------------------------------------*/
p, thead{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #525252;
}


#page-1 p:nth-of-type(2),#page-1 p:nth-of-type(3){
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #525252;
    margin-top:20px;
}

#page-1 p:first-child{
    margin-top: 65px;
}
.small-container{
    width: 970px;
    margin: 0 auto;
}


/*-------------------------------------------------page - 2 --------------------------------------------------------------------------------*/
.yacht-detail-table{
    position: relative;
    margin-bottom: 50px;
}

.rect{
    position: absolute;
    height: 100px;
    width: 100%;
    z-index: -1;
    top: 855px;
}
.rect-orange{
    background-color: #F8E0C2;
}

.rect-blue{
    background-color: rgba(0,152,182,0.3);
    top: 1060px;
    visibility: hidden;

}
.rect-dark-blue{
      top: 921px;
      background: #036D7D;
      height: 160px;
      visibility: hidden;
}

.rect-dark-blue-next{
 top: 1240px;
 visibility: hidden;
}

 tbody:before,thead:before{
    line-height:1em; content:"\200C"; 
    display:block;

}

#page-2 table{
    width: 100%;
}

td{
    padding-top: 6px;
}

thead{
    margin-bottom: 20px;
    margin-top: 55px;
    color: #525252;
}

td:nth-child(odd){
    color: #E5E5E5;
}

thead th{
      color: #525252;
}





/*----------------------------------------------------------------PAGE - 3 -------------------------------------------------------------*/

.w-825{
    width: 825px;
}

.f-r{
    float: right;

}

.f-l{
    float: left;
}

.slick-prev, .slick-next{
    width: auto;
    height:auto;
    z-index: 1;
}
.slick-prev{
    left: -145px;
}
.slick-next{
    right: -145px;
}

.responsive:last-child{
    margin-top: 30px;
}
.responsive:first-child{
    margin-top: 103px;
}
.responsivertl{
 margin-top: 30px;
}
.responsivertl .slick-prev{
    visibility: hidden;
}

#page-3 .responsive:nth-of-type(1) .slick-prev,#page-3 .responsive:nth-of-type(4) .slick-prev{
    visibility: hidden;
}

#page-3 .responsivertl .slick-next{
    
    left: -145px;
}



/*-------------------------------------------------------------PHOTO GALLERY -------------------------------------------------------------------------------*/

.gallery-photo-slick{
    width: 835px;
    margin: 0 auto;

}

#myModal nav{
    margin-top: 0px;
}
#myModal nav a{
    color: #FFFFFF;
}
#myModal nav a:hover{
    color: #F8E0C2;
}

#myModal .slick-line{
    background: #010135;
    padding-top: 5px;
    padding-bottom: 5px;
}
#myModal .slick-prev{
    left: -53px;
}
#myModal .slick-next{
    right: -53px;
}

#myModal .column{
    width:25%;
    float:left;
}

 .column img{
     width:100%;
    float:left;
 }
 .modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(1, 1, 53, 0.8) url('../img/mask_circles_group.png');
}

/* Modal Content */
#myModal .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 980px;
}

/* The Close Button */
 #myModal .close {
  color: white;
  position: absolute;
  top: 100px;
  right: 240px;
  font-size: 35px;
  font-weight: bold;
  color: #8B97B1;
  height: 33px;
  z-index: 3;
}

#myModal.close:hover,
#myModal .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

#myModal .mySlides {
  display: none;
}

.active,
.demo:hover {
  opacity: 1;
}

 img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.myclass .column{
    width: 25%;
}

.slick-line .demo{
    width: 60px;
}

.modal-content{
    border: 0px;
}











/*-------------------------------------------------------------------PAGE - 4--------------------------------------------------------------*/


#page-4 .calendar{
   width: 40%;
    float: left;
    height: 400px;
}
#page-4 .price-detail{
    float: right;
    width:50%;
   
}

.price-detail>div:first-child{
    margin-bottom: 20px;
}
#page-4{
    padding-top: 65px;
}
#page-4 p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #A8A8A8;
}


#page-4 .price-detail div p:last-child, #page-4 .hide-list div p:last-child{
    float: right;
    color: #525252;
}
#page-4 .price-detail div p:first-child,#page-4 .hide-list div p:first-child{
    float: left;
}

.select-additional-services{
    position: relative;
    margin-top: 10px;
}
.select-additional-services .drop-down-symbol{
    border-bottom: 1px solid #525252;
}
.drop-down-symbol .symbol{

}
.drop-down-img{
    float: right;
}
.hide-list{
    visibility: hidden;
    position: absolute;
    width: 100%;
    background-color: #FFFFFF;

}
.final{
    margin-top: 100px;
}
.select-additional-services:hover .hide-list{
    visibility: visible;
}

.total {
 color: #525252;
}

.rent-button a{
    background: #036D7D;
    border-radius: 50px;
    padding:11px 43px 10px 44px;  
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
   
}
.rent-button{
     margin-top: 100px;
}





.gist-file{
    display: none;
}



.lightpick__toolbar {
    position: relative;
}

.lightpick__previous-action, .lightpick__next-action{
    position: absolute;
    top: 8px;
}

.lightpick__previous-action{
    left: -295px;
}
.lightpick__next-action{
    left: -30px;
}



.reset{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    float: left;
    margin-left: 15px;
    align-items: center;
    text-align: center;
    color: #036D7D;
    background: #FFFFFF;
    border: 1px solid #036D7D;
    box-sizing: border-box;
    border-radius: 40px;
    padding-right: 8px;
    padding-left: 15px;
    margin-top: 10px;
}

